.container {
    width: 90%;
    margin: auto;
}

[class*="col-"]{
    padding: 16px;
}

/* 
.col-3{
    
    width: 25%;

}

.col-4{
    width: 33.33%;

}

.col-6{
    width: 50%;
    
    padding: 10px;
} */

.img{
    
    width: auto;
    height: auto;
   
}

@media(min-width: 576px){
   
}

/* medium devices */

@media(min-width: 768px){
    .row{
        display: flex;
        flex-wrap: wrap;
        
    }
    .col-md-4 {
        width: 33.333%;
    }
    .col-md-6 {
        width: auto;
    }

    .col-md-8 {
        width: 66.666%;
    }
    
}

@media(min-width: 900px){
    .col-lg-4 {
        width: 33%;
    }
}

@media(min-width: 1200px){
    
}